In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab as pl

In [3]:
df=pd.read_csv('home data.csv')
df

            x          y
0   48.955889  60.723602
1   44.687196  82.892504
2   60.297327  97.379897
3   45.618644  48.847153
4   38.816818  56.877213
..        ...        ...
94  50.030174  81.536991
95  49.239765  72.111832
96  50.039576  85.232007
97  48.149859  66.224958
98  25.128485  53.454394

[99 rows x 2 columns]

In [4]:
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [5]:
df.shape

(99, 2)

In [17]:
x=df['x']
y=df['y']

# First step_INITIALIZATION

In [22]:
m=0
c=0
learning_rate=0.01
n=int(len(x))
iterations=1000

# 2nd Step_ITERATIONS

In [24]:
for i in range(iterations):
    y_prediction=m*x+c
    derivatives_m=(-2/n)*sum(x*(y-y_prediction))
    derivatives_c=(-2/n)*sum(y-y_prediction)
    m=m-learning_rate*derivatives_m
    c=c-learning_rate*derivatives_c
    
print(m)

nan

In [13]:
print(m,c)

nan nan

# MAKE PREDICTIONS

In [25]:
x=float(input('Input any value'))

Input any value4

In [26]:
y=m*x+c

In [27]:
y

nan