In [1]:
import numpy as np 
import pandas as pd
import sklearn.tree as tree

from sklearn.tree import DecisionTreeClassifier

In [9]:
my_data = pd.read_csv("weather_data.csv", delimiter=",")
my_data.head()

    Outlook Temperature Humidity    Wind Play
0     Sunny         Hot     High    Weak   No
1     Sunny         Hot     High  Strong   No
2  Overcast         Hot     High    Weak  Yes
3      Rain        Cool   Normal    Weak  Yes
4      Rain        Cool   Normal  Strong   No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Wind         14 non-null     object
 4   Play         14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

# LABEL ENCODER

In [13]:

from sklearn.preprocessing import LabelEncoder

label=LabelEncoder()
my_data.Outlook=label.fit_transform(my_data.Outlook)
my_data.Temperature=label.fit_transform(my_data.Temperature)
my_data.Humidity=label.fit_transform(my_data.Humidity)
my_data.Wind=label.fit_transform(my_data.Wind)

In [14]:
my_data

    Outlook  Temperature  Humidity  Wind Play
0         2            1         0     1   No
1         2            1         0     0   No
2         0            1         0     1  Yes
3         1            0         1     1  Yes
4         1            0         1     0   No
5         2            2         0     1   No
6         2            0         1     1  Yes
7         1            2         1     1  Yes
8         2            2         1     0  Yes
9         0            2         0     0  Yes
10        0            1         1     1  Yes
11        1            2         0     0   No
12        0            0         1     0  Yes
13        1            2         0     1  Yes

# SEPARATE X Y

In [15]:
X=my_data.iloc[:,:-1]

In [16]:
X

    Outlook  Temperature  Humidity  Wind
0         2            1         0     1
1         2            1         0     0
2         0            1         0     1
3         1            0         1     1
4         1            0         1     0
5         2            2         0     1
6         2            0         1     1
7         1            2         1     1
8         2            2         1     0
9         0            2         0     0
10        0            1         1     1
11        1            2         0     0
12        0            0         1     0
13        1            2         0     1

In [19]:
Y=my_data.iloc[:,4]

In [20]:
Y

0      No
1      No
2     Yes
3     Yes
4      No
5      No
6     Yes
7     Yes
8     Yes
9     Yes
10    Yes
11     No
12    Yes
13    Yes
Name: Play, dtype: object

In [21]:
Tree=DecisionTreeClassifier()

In [27]:
Tree.fit(X,Y)

DecisionTreeClassifier()

In [28]:
Predict=Tree.predict([[2,0,1,0]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [29]:
Predict

array(['No'], dtype=object)